

.com-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.com-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.com-chart {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  border-radius: 20px;
}

/* 自定义消息框样式 */
.custom-message {
  min-width: 300px !important;  /* 最小宽度 */
  padding: 20px !important;      /* 内边距 */
  font-size: 16px !important;    /* 字体大小 */
  border-radius: 8px !important; /* 圆角 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important; /* 阴影 */
}

/* 调整图标大小 */
.custom-message .el-message__icon {
  font-size: 20px !important;
  margin-right: 12px !important;
}

/* 在全局样式文件中 */
.global-loading-high-zindex {
  z-index: 3000 !important;
}